html {
  font-family: "Archivo", sans-serif;
  background-color: #ffffff; /* Light Bootstrap gray */
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.home {
  background-color: #001f3f;
}

.overlay-drawing {
  position: absolute;
  top: -22rem;
  left: -19rem;
  width: 1008px; /* Add 'px' or another unit for width */
  height: 1008px; /* Add 'px' or another unit for height */
  background: url("/images/background.png"); /* Ensure proper quotes and path */
  z-index: 1021;
  opacity: 0.5;
}

.head-background {
  background-color: #001f3f;
  padding: 0;
  margin: 0;
}

.content {
  z-index: 1; /* Content stays above the overlay */
}

.header-logo {
  padding-top: 1.1875rem;
} 

/* navbar */

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 40vw;
  height: 100vh;
  background-color: rgb(42 48 53) !important;
  color: #fff;
  overflow-y: auto;
  padding: 2rem 1rem;
  transition: left 0.3s ease-in-out;
  z-index: 1060;
}

button {
  position: relative;
  z-index: 1022;
}

.sidebar-open {
  left: 0;
  padding: 4rem 7.5%;
}

.sidebar .nav-link {
  color: #fff;
  margin-bottom: 1rem;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
}

.sidebar .nav-link:hover {
  text-decoration: underline;
}

.navbar-toggler-close {
  padding: 0;
  font-size: 3.5rem;
}

/* Hamburger menu for small screens */
.navbar-toggler {
  position: absolute;
  top: 5rem;
  left: 7.5%;
  z-index: 2;
}

.sticky-top.scrolled {
  z-index: 1100; /* Higher z-index when scrolled */
}

.header-logo img {
   width: 9.75rem;
   height: 4.75rem
}


.nav-item {
  padding-top: 2.5rem;
  margin-right: 2.5rem;
}

.nav-link {
  background-color: transparent;
  display: inline;
  color: white;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 1.3125rem;
  font-size: 0.875rem;
  padding: 0;
}

.nav-item a {
  display: block;
}

.nav-item img {
  margin-top: 0.25rem;
}

#homeImg {
  width: 3.75rem;
  height: 0.125rem;
}

#aboutImg {
  width: 4.25rem;
  height: 0.125rem;
}

#servicesImg {
  width: 5.5625rem;
  height: 0.125rem;
}

#projectsImg {
  width: 5.875rem;
  height: 0.125rem;
}

#contactsImg {
  width: 5.875rem;
  height: 0.125rem;
}

/* HERO */

.hero {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  color: #ffffff;
  padding-bottom: 2.0625rem;
  padding-top: 0.4375rem;
}

.heroes {
  position: relative;
  padding-right: 1.6875rem;
  padding-bottom: 6.5rem;
  flex-basis: 44.06%;
}
.heroes img {
  width: 3.75rem;
  height: 0.125rem;
  padding-right: 1.25rem;
}

.heroImg {
  flex-basis: 55.94%;
  position: relative;
}

.heroImg .constructionImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heroVector {
  max-width: 24.4375rem;
  height: auto;
  position: absolute;
  top: -2.18625rem;
  left: -0.3125rem;
  overflow: hidden;
  z-index: 1050;
}

.heroVector2 {
  max-width: 24.4375rem;
  height: auto;
  position: absolute;
  top: -2.18625rem;
  right: -0.1rem;
}

.heroes h1 {
  font-family: "Archivo", sans-serif;
  font-size: 3.625rem;
  font-weight: 800;
  text-align: left;
  line-height: 3.625rem;
}

.heroHead {
  padding-bottom: 0.75rem;
}
.heroes .headingParag {
  font-size: 1rem;
  line-height: 1.3125rem;
  display: inline;
  font-weight: 600;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.78125rem;
  text-align: left;
  padding-bottom: 1.875rem;
  padding-right: 5rem;
}

.consBtn {
  background-color: #ffc631;
  border: 0;
  font-family: "Archivo", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: left;
  padding: 1.0625rem 1.875rem;
}

/* FEATURES */
#featured-3 {
  padding-top: 4.0625rem;
}

.feature-flex {
  column-gap: 2.0625rem;
}

#featured-3 .yellow-line {
  width: 2.5rem;
  height: 0.125rem;
}

h6 {
  display: inline;
  margin-left: 1.25rem;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: left;
}

.feature-top-h2 {
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
  color: #000810;
  padding-top: 1.8125rem;
  margin-bottom: 1.75rem;
}

.blue-h2 {
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
  color: #25aae1;
}

.feature-flex {
  column-gap: 2.0625rem;
  font-size: 16px;
}

.feature.col {
  border: 1px solid #e3e3e3;
  flex-basis: 31.3636%;
  flex-grow: 1;
  padding: 2.5em 1.8125em 1em 1.8125em;
  font-size: 16px;
}

.feature.col.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px black;
}

.featureNum {
  font-family: "Archivo", sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
  color: #eae6e6;
  flex-basis: 100%;
}

.feature h3 {
  font-family: "Archivo", sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
}

.feature-p {
  font-family: "Archivo", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
  padding-right: 2em;
}

.icon-link {
  font-family: "Archivo", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
  color: #25aae1;
  padding: 4% 0 0.7% 0;
}

#featured-3 .icon-link img {
  padding-left: 0.4375em;
  width: auto;
  height: auto;
}

/*project */

.project {
  background-color: #001f3f;
}

.project h6 {
  color: #ffffff;
}

.project h2 {
  color: #ffffff;
  margin-bottom: 2.8125rem;
}

.project .feature.col {
  border: 0;
}

.project-image {
  object-fit: cover;
  width: 100%;
}

.project h3 {
  color: #ffffff;
}

.project .feature.col {
  padding: 0;
  margin: 0;
}

.project .icon-link {
  color: #ffc631;
  padding-top: 0;
  padding-bottom: 2.6875em;
}

/* about */

.about-page .feature-top-h2 {
  margin: 0;
}
.hero-about {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  color: #ffffff;
  padding: 3.5rem 0;
}

.about {
  position: relative;
  flex-basis: 42.1073%;
}

.about .heading-num2 {
  padding-top: 3.5rem;
}

.about h1 {
  color: #25aae1;
  font-size: 5rem;
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  line-height: 5rem;
  margin: 0;
}

.about h6 {
  color: #202c38;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 0;
}

.about-page .aboutImg {
  flex-basis: 57.89%;
  position: relative;
  order: -1;
  padding-right: 5.9375rem;
}

.aboutImg .mapImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.aboutImg .mapPin1 {
  top: 1rem;
  left: 5rem;
}

.aboutImg .mapPin2 {
  top: 3.375rem;
  left: 9.4375rem;
}

.aboutImg .mapPin3 {
  top: 3.75rem;
  left: 18.625rem;
}
.aboutImg .mapPin4 {
  top: 10.5625rem;
  left: 12.5rem;
}
.aboutImg .mapPin5 {
  top: 8.5625rem;
  left: 24.5rem;
}
.aboutImg .mapPin6 {
  top: 20rem;
  left: 20.9375rem;
}
.aboutImg .mapPin7 {
  top: 31.5rem;
  left: 23.25rem;
}
.mapPin1,
.mapPin2,
.mapPin3,
.mapPin4,
.mapPin5,
.mapPin6,
.mapPin7 {
  width: 1.6875rem;
  position: absolute;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 #ffc631;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
    box-shadow: 0 0 0 #ffc631;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 #ffc631;
    border-radius: 50%;
  }
}

.about .description {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
  color: #000000;
  padding: 3.375rem 2rem 2.75rem 0;
  margin: 0;
}

.consBtn {
  background-color: #ffc631;
  border: 0;
  font-family: "Archivo", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: left;
  padding: 1.0625rem 1.875rem;
}

@media (max-width: 1399.89px) and (min-width: 1199px) {
  html {
    font-size: 13.81px;
  }

  .feature.col {
    font-size: 13.81px;
  }

  .overlay-drawing {
    top: -307px;
    left: -266px;
    background-size: cover;
  }
}

@media (max-width: 1199.89px) and (min-width: 991px) {
  html {
    font-size: 11.63px;
  }

  .feature.col {
    font-size: 11.63px;
  }

  .feature-flex {
    padding-bottom: 2.5rem !important;
  }

  .overlay-drawing {
    top: -258px;
    left: -225px;
    width: 850px; /* Add 'px' or another unit for width */
    height: 850px;
    background-size: cover;
  }
}

@media (max-width: 991.89px) and (min-width: 767px) {
  html {
    font-size: 8.73px;
  }

  .feature.col {
    font-size: 13.346px;
  }

  .feature.col h3 {
    line-height: 3em;
  }
  .feature-p {
    padding-right: 5rem;
  }

  .feature-flex {
    padding-bottom: 2.5rem !important;
  }

  .feature.col {
    flex-basis: 48.5%;
  }

  .overlay-drawing {
    top: -191px;
    left: -165px;
    width: 630px; /* Add 'px' or another unit for width */
    height: 630px;
    background-size: cover;
  }
}

@media (max-width: 767.89px) and (min-width: 576px) {
  html {
    font-size: 6.545px;
  }

  #featured-3 .icon-link img {
    width: 3.5rem;
    height: auto;
  }

  .feature-flex {
    padding-bottom: 3.5rem !important;
  }

  .feature.col {
    flex-basis: 48.5%;
    font-size: 10px;
    padding: 2.5em 1.8125em 1em 1.8125em;
  }

  .feature.col h3 {
    line-height: 3em;
  }

  .featureNum {
    line-height: 1em;
  }

  .feature h3 {
    line-height: 1em;
  }

  .feature-p {
    line-height: 1.5em;
  }

  .overlay-drawing {
    top: -144px;
    left: -125px;
    width: 475px; /* Add 'px' or another unit for width */
    height: 475px;
    background-size: cover;
  }
}

@media (max-width: 576px) {
  html {
    font-size: calc((100vw / 1320) * 32);
  }

  .header-logo img {
    width: 11.75rem;
    height: 5.75rem
 }

  .nav.nav-pills {
    display: none;
  }

  #featured-3 .icon-link img {
    width: 3rem;
    height: auto;
  }

  .modal-dialog {
    max-width: 90% !important;
    left: 4%;
  }

  .container {
    padding: 2rem 7.5% 0 7.5%;
  }
  .hero {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .hero-about {
    flex-wrap: wrap;
  }

  .feature.col h3 {
    line-height: 2.5em;
  }

  .feature-flex {
    padding-bottom: 2.5rem !important;
  }

  .about {
    flex-basis: 100%;
    padding-bottom: 3.5rem;
    padding-right: 1.5rem;
  }

  .about-page .aboutImg {
    flex-basis: 100%;
    padding-bottom: 2rem;
    padding-right: 0;
  }

  .heroes {
    flex-basis: 100%;
    padding-bottom: 3.5rem;
  }

  .heroImg {
    order: -1;
    padding-bottom: 2rem;
    flex-basis: 100%;
  }

  .feature.col {
    flex-basis: auto;
    font-size: calc((100vw / 1320) * 43);
  }

  .overlay-drawing {
    top: calc((100vw / 1320) * -308px);
    left: calc((100vw / 1320) * -267px);
    width: 175vw; /* Add 'px' or another unit for width */
    height: 175vw;
    background-size: cover;
    overflow: hidden;
  }

  .aboutImg .mapPin1 {
    position: absolute;
    width: 1.4rem;
    top: 0.75rem;
    left: 3.75rem;
  }

  .aboutImg .mapPin2 {
    width: 1.4rem;
    position: absolute;
    top: 2.85rem;
    left: 8rem;
  }

  .aboutImg .mapPin3 {
    width: 1.4rem;
    position: absolute;
    top: 3.2rem;
    left: 16.15rem;
  }
  .aboutImg .mapPin4 {
    width: 1.4rem;
    position: absolute;
    top: 9rem;
    left: 10.9rem;
  }
  .aboutImg .mapPin5 {
    width: 1.4rem;
    position: absolute;
    top: 7.25rem;
    left: 21rem;
  }
  .aboutImg .mapPin6 {
    width: 1.4rem;
    position: absolute;
    top: 17rem;
    left: 17.9rem;
  }
  .aboutImg .mapPin7 {
    width: 1.4rem;
    position: absolute;
    top: 27rem;
    left: 19.75rem;
  }
}

@media (max-width: 377px) {
  .feature.col {
    flex-basis: auto;
    font-size: calc((100vw / 1320) * 43);
    padding: 2.5em 1.8125em 1em 1.8125em;
  }

  .feature.col h3 {
    line-height: 2.5em;
  }

  #featured-3 .icon-link img {
    width: 3rem;
    height: auto;
  }

  .feature-flex {
    padding-bottom: 2.5rem !important;
  }
  .featureNum {
    line-height: 1em;
  }

  .feature h3 {
    line-height: 1em;
  }

  .feature-p {
    line-height: 1.5em;
  }
}
