.whyWorkWithUs {
  background-color: #001f3f;
  color: #ffffff;
}

.whyWorkWithUs .feature.col {
  margin-top: 2rem;
}

.whyWorkWithUs .feature.col.withoutborder {
  border: 0;
  padding: 0;
  margin-top: 1.75rem;
}

.whyWorkWithUs .feature-flex {
  column-gap: 1.5625rem;
  row-gap: 0.75rem;
}

.whyWorkWithUs .feature-top-h2 {
  color: #ffffff;
}

.whyWorkWithUs .feature.col.withoutborder .yellow-line {
  width: 2.5rem;
  height: 0.125rem;
}

.whyWorkWithUs .feature.col {
  padding: 3.125rem 2.0625rem 1.5rem 2.0625rem;
}

.whyWorkWithUs img {
  width: 4.375rem;
  height: 4.375rem;
}

.whyWorkWithUs h3 {
  line-height: 2.05rem;
  padding: 1.75rem 0 0.75rem 0;
}

/* contact */

.contact-page #featured-3 {
  padding: 3.75rem 0;
  margin-bottom: 0.625rem;
}

.hero-contact {
  display: flex;
  gap: 3.125rem;
}

.contact-form {
  flex-basis: 56%;
  padding-top: 3.375rem;
}

.form-control {
  height: 3.375rem;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  text-align: left;
  padding: 1rem 1.3125rem;
  color: #a9a9a9;
}

.form-control::placeholder {
  color: #a9a9a9;
} /* Adjust font size */

.custom-textarea {
  height: 10.25rem;
  resize: none;
}
.text-row {
  padding-bottom: 2.5625rem;
}

.contactImg {
  flex-basis: 40%;
}

.deskImg {
  width: 32.375rem;
  height: 44.4375rem;
  object-fit: cover;
}

.form-row {
  padding: 1.812rem 0;
}

.footer {
  background-color: #001f3f;
  color: #ffffff;
}

.footer .row {
  padding-top: 1rem;
  padding-left: 0;
  gap: 4.5rem;
  padding-bottom: 1.5rem;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  padding: 2rem 0;
  color: #ffffff;
}

.footer h5 {
  font-size: 1.625rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  line-height: 1.8rem;
}

.footer .subscribeParag {
  font-family: "Archivo", sans-serif;
  line-height: 1.8rem;
  padding: 1rem 3rem 0.875rem 0;
}

.contact-details {
  display: flex;
  padding-top: 1rem;
  gap: 0.5rem;
}

.contact-details a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
}
.contact-details p {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  padding: 0;
  margin: 0;
}

.footer .nav-item {
  padding: 1.375rem 0 0.5rem 0;
  display: flex;
  gap: 0.3125rem;
}

.footer .nav-item img {
  margin: 0;
}

.footer .nav-link {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  line-height: 0.875rem;
  font-size: 0.875rem;
  color: #ffffff;
}

.footer .company-col {
  margin-left: 2.25rem;
  margin-right: 4.75rem;
}

.footer .form-row {
  padding: 0;
  margin: 0;
}

.footer button {
  margin: 0;
  padding: 0;
  border: 0;
}

.footer button img {
  width: 3.376rem;
  height: 3.376rem;
}

.footer .copyrights p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.footer .copyrights {
  border-top-color: #29527c !important;
}

.footer .copyrights ul {
  padding-top: 2rem;
}

.footer .copyrights ul img {
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 991.89px) and (min-width: 767px) {
  .whyWorkWithUs .feature.col h3 {
    line-height: 3.5rem;
    padding: 2.75rem 0 1.75rem 0;
  }

  .whyWorkWithUs h2 {
    padding-right: 15rem;
  }
}

@media (max-width: 767.89px) and (min-width: 576px) {
  .whyWorkWithUs .feature.col h3 {
    line-height: 3.5rem;
    padding: 3.75rem 2.5rem 2.75rem 0;
  }

  .whyWorkWithUs .feature-p {
    padding-right: 5rem;
    line-height: 3rem;
  }

  .whyWorkWithUs h2 {
    padding-right: 15rem;
  }

  .footer .row {
    column-gap: 33%;
  }

  .footer .company-col {
    margin: 0;
  }

  .footer .col-7 p {
    padding-right: 9rem;
  }

  .subsc-col {
    order: 3;
  }

  .company-col {
    order: 4;
  }
}
@media (max-width: 576px) {
  .feature-flex {
    margin-bottom: 0 !important;
  }
  .whyWorkWithUs .feature.col h3 {
    line-height: 3rem;
    padding: 2.75rem 2.5rem 1.75rem 0;
  }
  .whyWorkWithUs .feature-p {
    padding-right: 5rem;
    line-height: 2.5rem;
  }
  .whyWorkWithUs h2 {
    padding-right: 10rem;
  }

  .hero-contact {
    flex-wrap: wrap;
  }

  .contact-form {
    flex-basis: 100%;
  }

  .contactImg {
    flex-basis: 100%;
  }

  .deskImg {
    width: 100%;
  }

  .contact-page #featured-3 {
    padding: 2rem 7.5% 3.75rem 7.5%;
  }

  .footer .row {
    column-gap: 0;
  }

  .footer .company-col {
    margin: 0;
  }

  .subsc-col {
    order: 3;
  }

  .footer .col-7 p {
    padding-right: 2rem;
  }

  .company-col {
    order: 4;
  }
}

@media (max-width: 377px) {
  .whyWorkWithUs .feature.col h3 {
    line-height: 3rem;
    padding: 2.75rem 2.5rem 1.75rem 0;
  }
  .whyWorkWithUs .feature-p {
    padding-right: 5rem;
    line-height: 2.5rem;
  }
  .whyWorkWithUs h2 {
    padding-right: 10rem;
  }
}
