/* src/styles/global.css */
body {
  font-family: "Archivo", sans-serif;
  background-color: #ffffff; /* Light Bootstrap gray */
  margin: 0;
  padding: 0;
  font-size: calc(1rem + 0.5vw);
}

.home {
  background-color: #001f3f;
  position: relative;
  overflow: hidden;
}
.overlay-drawing {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: vw; /* Add 'px' or another unit for width */
  height: 126vh; /* Add 'px' or another unit for height */
  background: url("/images/background.png"); /* Ensure proper quotes and path */
  z-index: 0;
  opacity: 0.5;
}

.content {
  position: relative;
  z-index: 1; /* Content stays above the overlay */
}

.header-logo {
  padding-top: 1.1875rem;
}

.nav-item {
  padding-top: 2.5rem;
  margin-right: 2.5rem;
}

.nav-link {
  background-color: transparent;
  display: inline;
  color: white;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 1.3125rem;
  font-size: 0.875rem;
  padding: 0;
}

.nav-item a {
  display: block;
}

/* HERO */

.hero {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  color: #ffffff;
  margin-bottom: 2rem;
}

.heroes {
  padding-right: 1.6875rem;
  padding-bottom: 6.5rem;
  flex-basis: 43.4%;
}
.heroes img {
  width: 60px;
  height: 2px;
  padding-right: 1.25rem;
}

.heroImg {
  flex-basis: 56.6%;
}

.heroImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heroes h1 {
  font-family: "Archivo", sans-serif;
  font-size: 3.625rem;
  font-weight: 700;
  text-align: left;
  line-height: 3.7rem;
}

.heroes .headingParag {
  font-size: 0.93rem;
  display: inline;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.78125rem;
  text-align: left;
  padding-bottom: 1.875rem;
  padding-right: 4.25rem;
}

.consBtn {
  background-color: #ffc631;
  border: 0;
  font-family: "Archivo", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: left;
  padding: 1.0625rem 1.875rem;
}

/* FEATURES */

.feature-flex {
  column-gap: 33px;
}

h2 {
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 52.8px;
  text-align: left;
  color: #000810;
  padding-top: 1.25rem;
}

.blue-h2 {
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 52.8px;
  text-align: left;
  color: #25aae1;
}

#featured-3 img {
  width: 40px;
  height: 2px;
}

h6 {
  display: inline;
  margin-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
}

.feature.col {
  border: 1px solid #e3e3e3;
  flex-basis: 31.3636%;
  flex-grow: 1;
  padding: 2.1% 2.1% 0.8% 2.1%;
}

.featureNum {
  font-family: "Archivo", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: left;
  color: #eae6e6;
}

.feature h3 {
  font-family: "Archivo", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: left;
}

.feature-p {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  padding-right: 17.5%;
}

.icon-link {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: left;
  color: #25aae1;
  padding: 4% 0 0.7% 0;
}

#featured-3 .icon-link img {
  padding-left: 7px;
  width: auto;
  height: auto;
}

/* 
  
  h2 {
    font-family: "Archivo", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: #000810;
    padding-top: 20px;
  }
  
  .blue-h2 {
    font-family: "Archivo", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: #25aae1;
  }
  
  .featureNum {
    font-family: "Archivo", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: #eae6e6;
  }
  
  .feature.col {
    border: 1px solid #e3e3e3;
    margin: 0.9%;
    flex-basis: 31.3636%;
    flex-grow: 1;
    padding: 2%;
  }
  
  .feature-p {
    font-family: "Archivo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    padding-right: 17.5%;
  }
  
  
  .features-2col {
    padding: 4.375rem 4.375rem 0 0;
  }
  .featuresWWD {
    padding-top: 4.375rem;
    padding-bottom: 2.2rem;
  }
  
  .features-h3 {
    font-family: "Archivo", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: white;
  }
  
  .details-2 {
    color: #ffc631;
    font-family: "Archivo", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
  } */

@media (max-width: 576px) {
  .hero {
    flex-wrap: wrap;
    padding-top: 2rem;
  }

  .heroes {
    padding: 0 10% 2.5rem 10%;
    flex-basis: 100%;
  }

  .heroes h1 {
    font-family: "Archivo", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: left;
    line-height: 3rem;
    padding-right: 1.5rem;
  }

  .heroes .headingParag {
    padding-left: 0.5rem;
    font-size: 0.72rem;
    display: inline;
  }

  .heroImg img {
    padding: 0 10% 0 10%;
  }

  .heroImg {
    order: -1;
    flex-basis: 100%;
    padding-bottom: 2rem;
  }

  .heroes img {
    width: 40px;
    padding-right: 0.5rem;
    height: 1px;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
    padding-bottom: 1rem;
    padding-right: 20%;
    margin: 0;
  }

  .consBtn {
    background-color: #ffc631;
    border: 0;
    font-family: "Archivo", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    text-align: left;
    padding: 0.65rem 1.5rem;
  }
}

@media (max-width: 775px) and (min-width: 576px) {
  .hero {
    flex-wrap: wrap;
  }

  .heroes {
    padding: 0 10% 2.5rem 10%;
    flex-basis: content;
  }

  .heroes h1 {
    font-family: "Archivo", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: left;
    line-height: 3rem;
  }

  .heroes .headingParag {
    padding-left: 0.5rem;
    font-size: 0.72rem;
    display: inline;
  }

  .heroImg img {
    padding: 0 10% 0 10%;
  }

  .heroImg {
    order: -1;
    flex-basis: 100%;
    padding-bottom: 2rem;
  }

  .heroes img {
    width: 40px;
    padding-right: 0.5rem;
    height: 1px;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.95rem;
    text-align: left;
    padding-bottom: 1rem;
    padding-right: 4rem;
    margin: 0;
  }

  .consBtn {
    background-color: #ffc631;
    border: 0;
    font-family: "Archivo", sans-serif;
    font-size: 0.82rem;
    font-weight: 700;
    line-height: 1.25rem;
    text-align: left;
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 1000px) and (min-width: 775px) {
  .heroes {
    padding-bottom: 2.5rem;
    padding-right: 0.7rem;
  }

  .heroes h1 {
    font-family: "Archivo", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    line-height: 2.5rem;
  }

  .heroes .headingParag {
    font-size: 0.5rem;
    display: inline;
  }

  .heroes img {
    width: 30px;
    padding-right: 0.5rem;
    height: 1px;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: 0.95rem;
    text-align: left;
    padding-bottom: 1rem;
    padding-right: 2rem;
    margin: 0;
  }

  .consBtn {
    background-color: #ffc631;
    border: 0;
    font-family: "Archivo", sans-serif;
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 0.7rem;
    text-align: left;
    padding: 0.5rem 1.45rem;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .heroes {
    padding-bottom: 2.5rem;
  }

  .heroes img {
    width: 40px;
    padding-right: 0.6rem;
    height: 1.2px;
  }

  .heroes h1 {
    font-family: "Archivo", sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: left;
    line-height: normal;
  }

  .heroes .headingParag {
    font-size: 0.7rem;
    display: inline;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1.78125rem;
    text-align: left;
    padding-bottom: 1rem;
    padding-right: 4.25rem;
    margin: 0;
  }

  .consBtn {
    background-color: #ffc631;
    border: 0;
    font-family: "Archivo", sans-serif;
    font-size: 0.68rem;
    font-weight: 700;
    line-height: 0.7rem;
    text-align: left;
    padding: 0.85rem 1.7rem;
  }
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .heroes {
    padding-right: 1.6875rem;
    padding-bottom: 2rem;
  }

  .heroes h1 {
    font-family: "Archivo", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: left;
    line-height: normal;
  }

  .heroes .headingParag {
    font-size: 0.8rem;
    display: inline;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.78125rem;
    text-align: left;
    padding-bottom: 1.875rem;
    padding-right: 4.25rem;
  }

  .consBtn {
    background-color: #ffc631;
    border: 0;
    font-family: "Archivo", sans-serif;
    font-size: 0.88rem;
    font-weight: 700;
    line-height: 1rem;
    text-align: left;
    padding: 1.0625rem 1.875rem;
  }

  /* feature */
  .feature-flex {
    column-gap: 28.4px;
  }

  h2 {
    font-size: 2.58rem;
    line-height: 45.4px;
    padding-top: 1.25rem;
  }

  .blue-h2 {
    font-size: 2.58rem;
    line-height: 45.4px;
  }

  #featured-3 img {
    width: 34.4px;
    height: 1.72px;
  }

  h6 {
    margin-left: 17.2px;
    font-size: 13.76px;
    line-height: 18px;
  }

  .featureNum {
    font-size: 2.58rem;
    line-height: 45.4px;
  }

  .feature h3 {
    font-size: 24px;
    line-height: 45.4px;
  }

  .feature-p {
    font-size: 13.76px;
    line-height: 24.8px;
    padding-right: 17.5%;
  }

  .icon-link {
    font-size: 15.5px;
    line-height: 45.4px;
  }

  #featured-3 .icon-link img {
    padding-left: 6px;
    width: auto;
    height: auto;
  }
}
