html {
  font-family: "Archivo", sans-serif;
  background-color: #ffffff; /* Light Bootstrap gray */
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.home {
  background-color: #001f3f;
  position: relative;
  overflow: hidden;
}
.overlay-drawing {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: vw; /* Add 'px' or another unit for width */
  height: 126vh; /* Add 'px' or another unit for height */
  background: url("/images/background.png"); /* Ensure proper quotes and path */
  z-index: 0;
  opacity: 0.5;
}

.content {
  position: relative;
  z-index: 1; /* Content stays above the overlay */
}

.header-logo {
  padding-top: 1.1875rem;
}

.nav-item {
  padding-top: 2.5rem;
  margin-right: 2.5rem;
}

.nav-link {
  background-color: transparent;
  display: inline;
  color: white;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 1.3125rem;
  font-size: 0.875rem;
  padding: 0;
}

.nav-item a {
  display: block;
}

/* HERO */

.hero {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  color: #ffffff;
  padding-bottom: 2.0625rem;
  padding-top: 0.4375rem;
}

.heroes {
  padding-right: 1.6875rem;
  padding-bottom: 6.5rem;
  flex-basis: 44.06%;
}
.heroes img {
  width: 3.75rem;
  height: 0.125rem;
  padding-right: 1.25rem;
}

.heroImg {
  flex-basis: 55.94%;
  position: relative;
}

.heroImg .constructionImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heroVector {
  max-width: 24.4375rem;
  height: auto;
  position: absolute;
  top: -2.18625rem;
  left: -0.3125rem;
}

.heroVector2 {
  max-width: 24.4375rem;
  height: auto;
  position: absolute;
  top: -2.18625rem;
  right: -0.1rem;
}

.heroes h1 {
  font-family: "Archivo", sans-serif;
  font-size: 3.625rem;
  font-weight: 800;
  text-align: left;
  line-height: 3.625rem;
}

.heroHead {
  padding-bottom: 0.75rem;
}
.heroes .headingParag {
  font-size: 1rem;
  line-height: 1.3125rem;
  display: inline;
  font-weight: 600;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.78125rem;
  text-align: left;
  padding-bottom: 1.875rem;
  padding-right: 5rem;
}

.consBtn {
  background-color: #ffc631;
  border: 0;
  font-family: "Archivo", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: left;
  padding: 1.0625rem 1.875rem;
}

/* FEATURES */
#featured-3 {
  padding-top: 4.0625rem;
}

.feature-flex {
  column-gap: 2.0625rem;
}

#featured-3 img {
  width: 2.5rem;
  height: 0.125rem;
}

h6 {
  display: inline;
  margin-left: 1.25rem;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: left;
}

.feature-top-h2 {
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
  color: #000810;
  padding-top: 1.8125rem;
  margin-bottom: 1.75rem;
}

.blue-h2 {
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
  color: #25aae1;
}
.feature-flex {
  column-gap: 2.0625rem;
  font-size: 16px;
}

.feature.col {
  border: 1px solid #e3e3e3;
  flex-basis: 31.3636%;
  flex-grow: 1;
  padding: 2.5em 1.8125em 1em 1.8125em;
  font-size: 16px;
}

.featureNum {
  font-family: "Archivo", sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
  color: #eae6e6;
}

.feature h3 {
  font-family: "Archivo", sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
}

.feature-p {
  font-family: "Archivo", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
  padding-right: 2em;
}

.icon-link {
  font-family: "Archivo", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: left;
  color: #25aae1;
  padding: 4% 0 0.7% 0;
}

#featured-3 .icon-link img {
  padding-left: 0.4375em;
  width: auto;
  height: auto;
}

@media (max-width: 1399.89px) and (min-width: 1199px) {
  html {
    font-size: 13.81px;
  }

  .feature.col {
    font-size: 13.81px;
  }
}

@media (max-width: 1199.89px) and (min-width: 991px) {
  html {
    font-size: 11.63px;
  }

  .feature.col {
    font-size: 11.63px;
  }
}

@media (max-width: 991.89px) and (min-width: 767px) {
  html {
    font-size: 8.73px;
  }

  .feature.col {
    font-size: 13.346px;
  }
  .feature-p {
    padding-right: 5rem;
  }

  .feature.col {
    flex-basis: 48.5%;
  }
}

@media (max-width: 767.89px) and (min-width: 576px) {
  html {
    font-size: 6.545px;
  }

  .feature.col {
    flex-basis: auto;
    font-size: 16px;
    padding: 2.5em 1.8125em 1em 1.8125em;
  }

  .featureNum {
    line-height: 1em;
  }

  .feature h3 {
    line-height: 1em;
  }

  .feature-p {
    line-height: 1.5em;
  }
}

@media (max-width: 576px) {
  html {
    font-size: calc((100vw / 1320) * 32);
  }

  .hero {
    flex-wrap: wrap;
    padding: 2rem 7.5% 0 7.5%;
  }

  .heroes {
    flex-basis: 100%;
    padding-bottom: 3.5rem;
  }

  .heroImg {
    order: -1;
    padding-bottom: 2rem;
    flex-basis: 100%;
  }

  .feature.col {
    flex-basis: auto;
  }
}
